* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    width: 200px;
    height: 200px;
    background-color: red;
    position: relative;
    /* overflow: hidden; */
}

.box:before {
    content: '';
    background: purple;
    width: 200px;
    height: 200px;
    position: absolute;
    transform: translateX(-200px);
    transition: all 1s ease-in-out;
}

.box:hover:before {
    background-color: green;
    transform: translateX(0);
}